@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: #10d46b;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #10d46b;
}

body {
    background-color: black;
    color: white;
    /* padding: 150px 15% 100px; */
}
.head {
    position: fixed;
    width: 100vw;
    height: 20vh;
    top: 0;
    left: 0;
    z-index: 1000;
    align-items: center;
    background: transparent;
    transition: all 0.4s ease;
}
.custom_style {
    background-color: #0c131e;
    
    border-radius: max(2vh, 5vw);
    box-shadow: min(1vh, 1vw) min(1vh, 1vw) min(1vh, 1vw) #111;
}
.custom_nav_link{
    color: #A6F6FF;
    font-weight: 700;
    font-family: 'Poppins',sans-serif;
}
.nav-item > .active{
    color: #10d46b !important
}
.nav-item > .nav-link:hover{
    color: #10d46b !important
}
.tech-head {
    display: flex;
    align-items: center;
}
.logo {
    height: 12vh;
}
.logo img{
    height: 12vh;
}
.techonicks {
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.techonicks .title{
    color: #10d46b;
    
    font-weight: bold;
}
.techonicks .subtitle{
    color: #ffffff;
    letter-spacing: 1px;
}
.menu {
    display: flex;
    align-items: center;
}
.menu .navbar{
    display: inline-block;
    width: fit-content;
    display: flex;
    justify-content: end;
}
.menu .navbar a{
    color: #006eff;
    font-size: min(4vh, 2vw);
    font-weight: 600;
    padding: 5px 5px;
    margin: 0px 15px;
    border-bottom: none;
    transition: all 0.4s ease;
}
.menu .navbar a:hover{
    border-bottom: 2px solid #10d46b;
    color: #10d46b;
}

.construction {
    width: 90%;
    margin: auto;
    margin-top: 25vh;
    margin-bottom: 0;
    font-size: 200%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 5vh;
    text-align: center;
}

.construction p {
    color: #aaaaaa;
}

.construction img {
    width: 70vh;
    max-width: 100%;
}


.address {
    width: 100%;
    margin: auto;
    margin-top: 5vh;
    font-size: 200%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 5vh;
    color: #0c131e;
    text-align: center;
    background-color: #10d46b;
    padding: 5vh 5vw;;
}

.address .left {
    min-height: 50vh;
    width: max(40%, 400px);
    max-width: 100%;
}
.address .add-card {
    margin-top: 1vh;
    background-color: #eeeeee;
    border-radius: max(2vh, 2vw);
    padding: 15px;
    text-wrap: wrap;
    height: fit-content;
    text-align: left;
    font-size: 80%;
    min-height: 39vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.address .add-map {
    display: flex;
    border-radius: max(2vh, 2vw);
    height: max-content;
    width: max(40%, 400px);
    max-width: 100%;
    overflow: hidden;
}
.address iframe {
    min-height: 50vh;
    width: 100%;
}



.foot {
    width: 100%;
    margin: auto;
    font-size: 200%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 5vh;
    text-align: center;
    background-color: #0c131e;
    padding: 5vh 5vw;;
}


.foot .navbar{
    display: inline-block;
    width: fit-content;
    display: flex;
    justify-content: end;
}
.foot .navbar a{
    color: white;
    font-size: min(4vh, 2vw);
    padding: 5px 5px;
    margin: 0px 15px;
    transition: all 0.4s ease;
}
.foot .navbar a:hover{
    color: #aaaaaa;
    border-bottom: solid 1px #aaaaaa;
}

.foot .social{
    display: inline-block;
    width: fit-content;
    display: flex;
    justify-content: end;
}
.foot .social a{
    padding: 5px 5px;
    margin: 0px 15px;
    transition: all 0.4s ease;
}
.foot .social a img{
    width: min(10vh,10vw);
}

.foot pre {
    color: #aaaaaa;
    font-size: 50%;
}



















.menu-toggle {
    display: none;
    width: max(3vw, 6vh);
    height: max(3vw, 6vh);
    cursor: pointer;
    position: relative;
}
.menu-toggle span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #006eff;
    position: absolute;
    transition: transform 0.4s ease;
}
.menu-toggle span:nth-child(1) {
    top: 0px;
}
.menu-toggle span:nth-child(2) {
    bottom: calc(max(1.5vw, 3vh) - 1px);
    transform: translateY(-50%);
}
.menu-toggle span:nth-child(3) {
    top: calc(max(1.5vw, 3vh) - 1px);
    transform: translateY(-50%);
}
.menu-toggle span:nth-child(4) {
    bottom: 0px;
}

/* Styles for the cross (X) icon */
.menu-toggle.active span:nth-child(1) {
    opacity: 0;
}
.menu-toggle.active span:nth-child(2) {
    transform: translateY(50%) rotate(45deg) ;
    bottom: max(1.5vw, 3vh);
}
.menu-toggle.active span:nth-child(3) {
    transform: translateY(-50%) rotate(-45deg);
    top: max(1.5vw, 3vh);
}
.menu-toggle.active span:nth-child(4) {
    opacity: 0;
}






@media screen and (max-width: 720px) {
    .menu-toggle {
        display: block;
    }
    .menu .navbar {
        display: none;
    }
    .menu .navbar.active {
        display: block;
        position: fixed;
        width: 90vw;
        height: fit-content;
        top: 20vh;
        left: 5vw;
        z-index: 1000;
        align-items: center;
        background-color: #0c131e;
        width: 90vw;
        border-radius: max(2vh, 5vw);
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        box-shadow: min(1vh, 1vw) min(1vh, 1vw) min(1vh, 1vw) #111;
        padding: 10px;
    }
    .menu .navbar.active li {
        padding: 5px 0;
    }
    .menu .navbar.active a{
        color: #006eff;
        font-size: max(4vh, 2vw);
        font-weight: 600;
        /* padding: 10px; */
        margin: 0px 15px;
        border-bottom: none;
        transition: all 0.4s ease;
    }
    .menu .navbar.active a:hover{
        border-bottom: 2px solid #10d46b;
        color: #10d46b;
    }
    
}
@media screen and (max-width: 500px) {
    .techonicks {
        display: none;
    }
}